:root{
  --c-orange: #E16500;
  --c-yellow: #E2E23F;
  --c-red: #FF0000;
  --c-bg: #151731;

  --c-purple-1: #783DBC;
  --c-purple-2: #592A9E;
  --c-purple-3: #391B54;

  --c-panel: #1E223F;
  --c-card: #1E2939;
  --c-field: #E6E6E6;

  --c-text: #e9edf7;
  --c-text-2: #A6A6A6;
  --c-text-3: #6B7280;
  --c-muted: rgba(233,237,247,.70);
}